{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <!-- <link rel="stylesheet" href="{% static 'css/products.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/bag.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container-fluid margin-for-nav">
        <h1>Your Basket</h1>
    </div>
{% endblock %}

{% block content %}
<!----------------------------- Basket -------------------------->

    <div class="container-fluid bg-off-white d-flex blue-border bag-container justify-content-center">
        {% if bag_items %}
            <div class="basket-box">
                <div class="row basket-top">
                    <div class="col-6">
                        <h6>Items</h6>
                    </div>
                    <div class="col-2 d-flex justify-content-center">
                        <h6>Price £</h6>
                    </div>
                    <div class="col-2 d-flex justify-content-center">
                        <h6>Quantity</h6>
                    </div>
                    <div class="col-2 d-flex justify-content-center">
                        <h6>Sub-Total</h6>
                    </div>
                </div>
                {% for bag_item in bag_items %}
                    <div class="row item-summary">
                        <div class="col-6 d-flex">
                            <a href="#" class="pr-3"> 
                                <div class="img-box">
                                    <img class="product-img" src="{{ bag_item.product.image.url }}" alt="{{ bag_item.product.name }}">
                                </div>
                            </a>
                            <h6 class="font-s-17"> {{ bag_item.product.name }}</h6>
                        </div>
                        <div class="col-2 d-flex justify-content-center">
                            <p class="font-s-14">{{ bag_item.product.price }}</p>
                        </div>
                        <div class="col-2">
                            <form id="update-form-{{ bag_item.item_id }}" class="form text-center" action="{% url 'adjust_bag' bag_item.item_id %}" method="POST">
                                {% csrf_token %} 
                                <div class="form-row">
                                    <div class="col-12 d-flex justify-content-center">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button type="button" class="decrement-qty btn py-0 rounded-0" 
                                                            data-item_id="{{ bag_item.item_id }}" id="decrement-qty_{{ bag_item.item_id }}"
                                                            onclick="decrementQty('decrement-qty_{{ bag_item.item_id }}')">
                                                        <span class="icon">
                                                            <i class="fas fa-minus"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input class="form-control qty_input py-0" type="" name="quantity" 
                                                        value="{{ bag_item.quantity }}" min="1" max="99" data-item_id="{{ bag_item.item_id }}" id="id_qty_{{ bag_item.item_id }}">
                                                <div class="input-group-append">
                                                    <button type="button" class="increment-qty btn rounded-0 py-0"
                                                            data-item_id="{{ bag_item.item_id }}" id="increment-qty_{{ bag_item.item_id }}" 
                                                            onclick="incrementQty('increment-qty_{{ bag_item.item_id }}')">
                                                        <span class="icon">
                                                            <i class="fas fa-plus"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="remove-item text-danger pr-2" onclick="removeItem('{{ bag_item.item_id }}', '{{ csrf_token }}')" id="remove_{{ bag_item.item_id }}"><small>Remove</small></a>
                                <a class="update-link text-info" onclick="changeQuantity('update-form-{{ bag_item.item_id }}')"><small>Update</small></a>
                            </form>
                        </div>
                        <div class="col-2 d-flex justify-content-center">
                            <p>{{ bag_item.sub_total }}</p>
                        </div>
                    </div>
                {% endfor %}
                <div class="row basket-top">
                    <div class="col-6">
                    </div>
                    <div class="col-2 d-flex justify-content-center">
                        <h6>Delivery £</h6>
                    </div>
                    <div class="col-2 d-flex justify-content-center">
                        <h6>No. Items</h6>
                    </div>
                    <div class="col-2 d-flex justify-content-center">
                        <h6>Total</h6>
                    </div>
                </div>
                <div class="row basket-top">
                    <div class="col-6">
                    </div>
                    <div class="col-6 order-summary">
                        <div class="col-4 d-flex justify-content-center">
                            <p class="font-s-14"> {{ delivery }}</p>
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <p class="font-s-14">{{ product_count }}</p>
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                                <p>{{ grand_total }}</p>
                        </div>
                    </div>
                    <div class="col-12 d-flex pt-5">
                        <a href="{% url 'products' %}" class="btn text-left keep-shopping col-4 btn-outline-black">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase ">Keep Shopping</span>
                        </a>
                        <a href="{% url 'checkout' %}" class="col-8">
                            <div class="add-item-btn mt-2 bag-cta">
                                <h5 class="add-item-text">Continue to Secure Checkout</h5>
                            </div>
                        </a>
                    </div>  
                </div>
            </div>
        {% else %}
            <div class="text-center basket-no-item">
                <p >There are no items in your basket</p>
                <button class="btn green-button">
                    <a class="gold-text" href="{% url 'products' %}">
                        Return to shop
                    </a>
                </button>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/quantity_input.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/update_bag.js' %}" ></script>

{% endblock %}