{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/profiles.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container-fluid margin-for-nav">
        <h1>Profile</h1>
    </div>
{% endblock %}
{% block content %}

<!----------------------------- PRODUCTS -------------------------->

    <div class="container-fluid bg-off-white profile-container">
        <div class="row">
            <div class="col-12 col-lg-3 page-divider">
                <h5>General</h5>
                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="general-update-form">
                    {% csrf_token %}
                    {{ general_form|crispy }}
                    <button class="btn btn-black rounded-0 text-uppercase float-right">Update Information</button>
                    <input type="hidden" value="general-update-form" name="update-form">
                </form>
            </div>
            <div class="col-12 col-lg-3 page-divider">
                <h5>Your Address</h5>
                <div class="address-container">
                    {% for address in addresses %}
                        <div class="address-box">
                            <p> {{ address.full_name }} </p>
                            <p> {{ address.street_address1 }} </p>
                            <p> {{ address.street_address2 }}, {{ address.town_or_city }}</p>
                            <p> {{ address.postcode }} </p>
                            <p> {{ address.phone_number }} </p>
                        </div>
                    {% endfor %}
                </div>
                <!-- <form class="mt-3" action="{% url 'profile' %}" method="POST" id="address-update-form">
                    {% csrf_token %}
                    {{ address_form|crispy }}
                    <button class="btn btn-black rounded-0 text-uppercase float-right">Update Information</button>
                    <input type="hidden" value="address-update-form" name="update-form">
                </form> -->
            </div>
            <div class="col-12 col-lg-6">
                <h5>Order History</h5>
                <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                                <li class="small">
                                                    {{ item.product.name }} x{{ item.quantity }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>£{{ order.grand_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
{% endblock %}