.add_product_form{
    flex-wrap: wrap;
}

.control-group{
    width: 30%;
    margin-right: 10px;
    margin-left: 10px;
}

.add-product-confirm{
    padding-top: 30px;
}

.add-product-cta:hover{
    color: #ffffff;
}

.add-product-cta{
    font-size: 16px;
    padding: 5px 15px
}

.btn-file{
    padding: 0 0;
    width: 100%;
    order: -1;
}

.add-product-container{
    padding: 35px 10px;
    min-height: calc(100vh - 220px);  
}

.image-section{
    display: flex;
    flex-wrap: wrap;
}

.image-section > p {
    width: 100%
}

.custom-control{
    width: 100%
}
@media only screen and (max-width: 991px){
.header-font{
    font-size: 40px;
}
}

@media only screen and (max-width: 450px){
.control-group{
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}

.cancel-btn{
    padding: 0 0;
    float: left
}

.header-font{
    font-size: 30px;
}
}