html {
    height: 100%;
    background: url('/media/home-background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.login-container{
    margin-top: 83px;
    padding: 50px 0 100px;
    justify-content: center;
    min-height: calc(100vh - 133px);
    flex-wrap: wrap;
}

.control-group{
    margin-bottom: 20px;
}

.textinput{
    border-radius: 5px;
    border: solid 2px black;
    padding: 4px 7px;
}

.allauth-form-inner-content{
    padding: 40px;
    border: 3px solid #7196CE;
    border-radius: 10px;
    width: 110%;
}

.create-account-link{
    width: 40%;
}

.sign-in-button{
    width: 60%;
    text-align: right;
}

.primaryAction{
    font-weight: 700;
    font-size: 15px;
    width: 60%;
    padding: 5px 0;
    border-radius: 10px;
    text-align: center;
    color: #FBD300;
    background-color: #18451C;  
    border: none;    
}
.secondaryAction:hover,
.primaryAction:hover{
    color: #ffffff;
}

.div_id_remember{
    margin-left: 3px;
    margin-bottom: 5px;
}
.ctrlHolder{
    font-size: 14px;
    padding-left: 30px;
    padding-bottom: 5px
}

.email-list-heading{
    font-size: 22px
}

.secondaryAction{
    font-weight: 700;
    font-size: 14px;
    width: 150px;
    padding: 10px 5px;
    margin: 0 5px;
    border-radius: 10px;
    text-align: center;
    color: #FBD300;
    background-color: #18451C;  
    border: none; 
    position: relative;
    float: right
}

.removeEmail{
    border: none; 
    background-color: #f8f8f8;
    font-weight: 700;
    font-size: 14px;
    padding: 10px 5px;
}

#id_email{
    margin-bottom: 10px;
    border-style: solid;
    border-color: #a29e9e;
    border-radius: 5px;
    width: 100%;
    padding: 4px 7px;
    font-size: 15px;  
}

.add_email{
    font-size: 15px;
    padding-bottom: 45px;
    display: flex;
}

#id_email{
    font-size: 14px
}

.add-email-btn{
    margin-top: 29px;
}

.add_email > p{
    width: 75%;
}

.add-email-btn-box{
    width: 25%;
    margin-left: 20px;
}

.add-email-header {
    font-size: 22px;
}

.forgot-password-text{
    width: 500px;
    text-align: center;
    font-size: 16px
}

.password-reset-text{
    font-size: 16px
}

.password_reset > #div_id_email{
    padding-bottom: 30px
}

.reset-password-btn{
    margin: 0 0;
}

.controls > input{
    font-size: 14px;
    width: 100%;
}
@media only screen and (max-width: 768px){
.login-container{
    padding-bottom: 50px;
}

.allauth-form-inner-content {
    padding: 0 30px;
    border: none;
    width: 100%;
}

.password-reset-header,
.change-password,
.manage-email{
    font-size:30px;
}

.add-email-header{
    font-size: 22px;
}

.add_email{
    display: block;
    padding-bottom: 20px;
}

#id_email{
    margin-bottom: 0;
    width: 100%;
}

.add_email > p{
    margin-bottom: 0;
    width: 100%;
}

.add-email-btn-box{
    margin-left: 0;
    width: 100%;
}

.buttonHolder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.removeEmail{
    width: 100%;
    padding:20px 0 30px;
}

.ctrlHolder{
    font-size: 12px;
    padding-left: 0;
}
.secondaryAction{
    float: none;
    margin: 5px 5px;
}

.add-email-btn{
    margin: 20px 0;
}

.textinput{
    width:100%;
}

.reset-password-btn,
.change-password-btn{
    float: right;
}

.password_change{
    padding-top: 20px;
    font-size: 14px
}
    
.password_change > #div_id_password2{
    margin-bottom: 50px
}

.password-reset-text,
.forgot-password-text{
    width: auto;
    font-size: 14px;
}

}