html {
    background: url('/media/alt-background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.bag-container{
    padding: 35px 10px;
    min-height: calc(100vh - 220px);
}

.basket-no-item{
    margin: 100px 0;
    font-size: 1.2;
}

.no-items:hover{
    color: #ffffff;
}

.basket-box{
    width: 75%;
}

.basket-top{
    padding: 20px 10px 0;
    margin: 0 0;
}

.img-box{
    margin-right: 10px;
}

.item-summary{
    padding: 20px 5px 30px;
    border-bottom: solid 3px #000000;
    margin: 0 0;
}

.bag-cta:hover{
    color: white;
}

.btn{
    width: 100%
}

.update-link{
    cursor: pointer;
}

.product-img{
    height: 100px;
    width: 80px;
    border-radius: 5px;
}

.decrement-qty,
.qty_input,
.increment-qty{
    height: 30px;
    font-size: 14px;
}

.qty_input{
    width: 70px
}

.order-summary{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.bag-cta{
    position: relative;
    float: right;
    padding: 8px 15px 2px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
    background-color: #18451C;
    color: #FBD300;
    font-size: 15px;
}

.add-item-text{
   font-size: 20px; 
}

.keep-shopping{
    padding-left: 0;
}

@media only screen and (max-width: 768px){
.align-right{
    position: absolute;
    right: 10px;
}
 
.bag-items-header{
    font-size: 30px;
}

.bag-container{
    padding-top: 0;
}

.basket-top{
    padding: 10px 5px; 
}

.qty-box,
.sub-total{
    padding-top: 15px;
}

.form-control{
    width: 40px;
    padding: 0 10px;
    font-size: 12px;
}

.increment-qty,
.decrement-qty{
    font-size: 10px;
    padding: 0 10px;
}

.remove-item,
.update-link{
    font-size: 14px;
    cursor: pointer;
}

.form-row >.col-12{
    padding-top: 20px;
    padding-left: 0
}

.bag-cta{
    width: 100%;
}

.add-item-text{
    font-size: 16px;
}

.keep-shopping{
    font-size: 17px;
}
}

@media only screen and (max-width: 450px){
.bag-qty{
    padding: 10px
}

.mobile-qty-form{
    margin-bottom: 5px;
}

.mobile-qty-text{
    width: 70%;
    text-align: left;
    margin-bottom: 5px;
}
    
.bag-container{
    padding-top: 15px
}
}