@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,400;1,700&display=swap'); /* noto sans italic */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300;400;500;700;900&display=swap'); /* noto sans hk */
body{
    background-color: transparent;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
}

.container-fluid{
    padding-left: 25px;
}

.font-s-17{
    font-size: 17px;
}

.font-s-16{
    font-size: 16px;
}

.font-s-14{
    font-size: 14px;
}

input{
    font-family: 'Noto Sans HK', sans-serif;
    font-weight: 300;
}

h1, h3, h5, h6, .btn{
    font-weight: 700;
}

a {
    color: #1F7727;
}

a:hover {
    color: #FBD300;
    text-decoration: none;
}

.green-button{
    background-color: #18451C;
    border-radius: 10px;
}

.gold-text{
    color: #FBD300;
}

.bg-blue{
    background-color: #7196CE;
}

.bg-off-white{
    background-color: #f8f8f8;
}

.blue-border{
    border-top: solid 4px #7196CE;
}

.dark-overlay{
    background: rgba(0, 0, 0, 0.2);
    width:100%;
    height:120vh;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}
header{
    border-bottom: solid 3px #000000;
    transition: background-color .15s cubic-bezier(.46,.03,.52,.96);
}

header:hover{
    background-color: #7196CE;
}

html:not([data-scroll='0']) header {
  background-color: #7196CE;
}

#topnav{
    margin-bottom: 10px;
}

.main-logo-link{
    max-width: 85px;
}

#nav-logo-background{
    width: 62px;
    height: 62px;
    border-radius: 62px;
    background-color: #000000;
}

#nav-logo{
    max-width: 60px;
    height: 60px;
    margin-left: 0.5px;
    margin-top: 1px;
}

.bag-value{
    position: absolute;
    font-size: 12px;
    right: 34px
}

.text-white{
    color: #ffffff;
    text-shadow: 1px 1px #000000;
    font-size: 1.1rem;
}

.margin-for-nav{
    margin-top: 100px;
}

.message-container{
    display: flex;
    position: fixed;
    right: 0;
    z-index: 9999;
    top: 85px;
}

.bag-notification-wrapper{
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}

footer{
    padding: 15px 10px;
    height: 50px;
    width: 100%;
    overflow: hidden;
    bottom: 0;
    position: relative;
}

.product-form-input{
    margin-bottom: 10px;
    border-style: solid;
    border-color: #a29e9e;
    border-radius: 5px;
    width: 100%;
    padding: 4px 7px;
    font-size: 15px;
}

.profile-form-input{
    margin-bottom: 10px;
    border-style: solid;
    border-color: #a29e9e;
    border-radius: 5px;
    padding: 4px 7px;
    font-size: 15px;
}

.custom-toast{
    border: solid 5px #7196CE;
     box-shadow: -20px 30px 40px;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 33px;
}

.dropdown-item {
    font-size: 15px;
    font-weight: 700;
}

@media only screen and (max-width: 768px){
.message-container{
    top: 95px;
}

.list-inline-item{
    margin-right: 0;
}

#nav-logo{
    margin-left: 0;
}

.bag-value{
    right: 34px
}

.list-inline-item:not(:last-child){
    margin-right: 0;
}

footer{
    font-size: 12px;
}

.toast-bag-btn{
    font-size: 13px;
}

.mobile-hidden{
    display: none;
}
}