@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,400;1,700&display=swap'); /* noto sans italic */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300;400;500;700;900&display=swap'); /* noto sans hk */
body{
    background-color: transparent;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
}

.container-fluid{
    padding-left: 25px;
}

input{
    font-family: 'Noto Sans HK', sans-serif;
    font-weight: 300;
}

h1, h6, .btn{
    font-weight: 700;
}

.green-button{
    background-color: #18451C;
    border-radius: 10px;
}

.gold-text{
    color: #FBD300;
}

.bg-blue{
    background-color: #7196CE;
}

.bg-off-white{
    background-color: #f8f8f8;
}
.dark-overlay{
    background: rgba(0, 0, 0, 0.2);
    width:100%;
    height:120vh;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}
header{
    border-bottom: solid 3px #000000;
    transition: background-color .4s cubic-bezier(.46,.03,.52,.96);
}

header:hover{
    background-color: #7196CE;
}

#topnav{
    margin-bottom: 10px;
}

.main-logo-link{
    max-width: 85px;
}

#nav-logo-background{
    width: 62px;
    height: 62px;
    border-radius: 62px;
    background-color: #000000;
}

#nav-logo{
    max-width: 60px;
    height: 60px;
    margin-left: 0.5px;
    margin-top: 1px;
}

.text-white{
    color: #ffffff;
    text-shadow: 1px 1px #000000;
    font-size: 1.1rem;
}

.margin-for-nav{
    margin-top: 100px;
}

.message-container{
    display: flex;
    position: fixed;
    right: 0;
    z-index: 9999;
}

.bag-notification-wrapper{
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}
footer{
    padding: 15px 10px;
    height: 50px;
    width: 100%;
    overflow: hidden;
    bottom: 0;
    position: relative;
}