html {
    background: url('/media/alt-background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.btn-secondary{
    background-color: transparent;
    border-color: transparent;
    color: #000000;
    font-size: 1.1rem;
}

h5{
    margin-bottom: .2rem;
}

.sub-nav{
    margin-top: 20px;
    padding: 10px 15px;
}

.products-height-container{
    min-height: calc(100vh - 300px);
}
.products-container{
    flex-wrap:wrap;
    padding-top: 20px;
    justify-content: center;
    
}

.product-card{
    width: 32%;
    margin-bottom: 15px;
    margin-right: 1.33%;
    padding: 5px;
    border: solid 3px #0c1c35;
    border-radius: 10px;
    box-shadow: 0 2px 1px 1px rgba(53, 51, 51, 0.53);
    flex-wrap: wrap;
}

.product-img{
    height: 190px;
    width: 100%;
    border-radius: 5px;
    max-width: 140px;
}

.card-right-box{
    padding: 0 10px;
    width: 100%;
}

.text-box{
    width: 100%;
    margin-bottom: 40px;
}

.products-btn{
    width: 100%;
    font-size: 15px;
    padding: 5px 0;
    border-radius: 10px;
    text-align: center;
    background-color: #18451C;
}

.card-width-left{
    width: 30%;
}

.card-width-right{
    width: 70%;
    position: relative;
}

.add-item-text{
    color: #FBD300;
    font-size: 15px;
}

.add-item-input{
    padding: 0 0;
}

.edit-delete-product{
    padding: 5px;
    font-size: 16px;
    text-align: center;
    max-width: 140px;
}

#div_id_image > .controls {
    display: flex;
    flex-wrap: wrap;
}

.product-desc{
    font-size: 13px;
    font-weight: 300;
}

.previous-link{
    width: 45%;
}

.current{
    padding: 0 10px
}

.previous-link ,
.next-link{
    padding: 0 40px;
}

.subnav-mobile {
    padding: 5px 5px;
}

#plp-search{
    height:35px;
    font-size: 15px;
}

#plp-search-button{
    height:35px;
    padding: 0 15px 5px;
}

.fa-search{
    font-size: 13px;
}

.navbar-toggler{
    border: none;
}

.dropdown-header{
    padding: .5rem 0px;
}

.dropdown-item > .active{
    color: #FFDA16;
}

.pagination{
    padding: 15px 0 40px;
}

.product-name{
    color: black;
    font-size: 16px;
}

.products-btn-box{
    width:100%;
    position: absolute;
    bottom: 0
}
.product-price{
    font-size: 12px;
}

.add-item-input:hover,
.products-btn:hover{
    color: #ffffff;
}
/* -----------------------------------PRODUCT_DETAIL---------------------------- */
.pd-sub-nav{
    margin-top: 83px;
    padding: 10px 15px;
}

.pd-container{
    padding: 30px 0 20px;
    min-height: calc(100vh - 133px);
    margin-top: 83px;
}

.pd-content{
    padding: 50px 18%;
    display: flex;
    justify-content: center;
}

.edit-delete-pd{
    padding: 5px;
    font-size: 16px;
    text-align: center;
}
.pd-image{
    height: 400px;
    border-radius: 10px;
}

.pd-right-container{
    width: 50%;
    padding-left: 70px;
}

.pd-desc{
    font-weight: 400;
    font-size: 15px;
}

.pd-return-button{
    padding-left: 0;
}

.pd-cta{
    position: relative;
    float: right;
}
@media only screen and (max-width: 1366px){
.product-card{
    width: 48%;
}

.card-width-left{
    width: 25%;
}

.card-width-right{
    width: 75%;
}

.pd-content {
    padding: 50px 20px;
}
}

@media only screen and (max-width: 991px){
.product-card{
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 10px;
}
.sub-nav{
    display:none;
}
.card-width-left{
    width: 20%;
}

.card-width-right{
    width: 80%;
}

.pd-content{
    padding: 20px 10px;
    display: block;
}

.pd-image-container{
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
}

.pd-image{
    margin-bottom: 5px;
    height: 250px;
} 

.pd-right-container{
    padding: 0 15px;
    text-align: justify;
    width: 100%
}

.pd-desc{
    margin-bottom: 40px;
}

.pd-return-button{
    font-size: 14px;
}

.pd-cta{
    font-size: 15px;
}

.input-group-prepend{
    height: 40px;
}

.qty-input{
    height: 40px;
    font-size: 15px;
}

.input-group-append{
    height: 40px;
}

h6{
    font-size: 16px;
}

p {
    margin-top: 0;
    margin-bottom: 7px;
    font-size: 12px;
}
}
/*-----------------------------------------PHONE PORTRAIT MEDIA QUERY-----------------------------------------*/
@media only screen and (max-width: 768px){
.product-name{
    font-size: 15px;
}

.product-img{
    padding: 1px 2px;
    max-width: 130px;
}  
.step-links{
    font-size: 14px;
}
.previous-link{
    width: 35%;
}

.previous-link,
.next-link{
    padding: 0 5px;
}

.product-desc {
    font-size: 11px;
}

.products-btn{
    padding: 2px 0 7px;
}

.card-width-left{
    width: 25%;
}

.card-width-right{
    width: 75%;
    position: relative;
}
}

@media only screen and (max-width: 576px){
.text-box{
    margin-bottom: 0;
}
}
@media only screen and (max-width: 450px){

.card-width-left{
    width: 40%;
}

.card-width-right{
    width: 60%;
}
}