html {
    background: url('/media/alt-background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.profile-container{
    padding-top: 20px;
    padding-bottom: 15px;
    min-height: calc(100vh - 220px);
}

.page-divider{
    border-right: 3px solid black;
}

.btn{
    padding-right: 0px;
}

.address-box{
    border: solid 3px #0c1c35;
    border-radius: 10px;
    box-shadow: 0 2px 1px 1px rgba(53, 51, 51, 0.53);
    padding: 5px 15px 10px;
    margin: 10px 10px 20px;
    width: 50%
}

p {
    margin-bottom: 2px;
}

.update-btn{
    font-size: 16px;
    padding: 5px 8px 8px;
    float: right;
}

.update-btn:hover{
    color: #ffffff;
}

.control-group{
    width: 100%;
}
@media only screen and (max-width: 768px){
.page-divider{
    border: none;
}

.OH-headers{
    font-size: 16px
}
}
@media only screen and (max-width: 576px){
.address-box{
    width: 100%;
    margin-left: 0;
    margin-right: 0
}

.address-container{
    padding: 0 10px
}
}