{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/contact_us.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container-fluid margin-for-nav">
        <h1>About Us</h1>
    </div>
{% endblock %}
{% block content %}
    <div class="contact-us-container bg-off-white blue-border">
        <h3 class="text-center">Heavenly herbs and our Story</h3>
        <div class="d-flex justify-content-center">
            <p>
                The Heavenly Herb Company is a joyful collaboration between medical herbalist, Ross Menzies, and his wife Katrina. 
                It is inspired by a mutual sense of connection to the natural world and a respect for the healing power of plants.
                We produce a range of hand-made natural products using therapeutic herbal extracts, including delicious herbal teas, nourishing creams for face and body, 
                a healing first aid balm, hedgerow syrups bursting with vitamin C, medicinal tinctures and a popular perfume made from herbal resins and oils.   
                All herbs are collected wild in Northumberland or organically grown wherever possible. It is an honour to share with you just how effective yet gentle plant-based products can be.
                Ross has worked as a herbalist for over twenty years and runs a busy herbal clinic in Hexham and at home in Hexhamshire. He is a member of the Association of Master Herbalists and 
                brings a wealth of experience to the creation of these products.
                Both Ross and Katrina are keen gardeners and run a therapeutic horticulture charity called Let's Get Growing , working with people who have a wide range of physical and mental health needs. 
                They are both also ordained as interfaith ministers and offer spiritual accompaniment and wellbeing retreats.
            </p>
        </div>
    </div>
{% endblock %}