{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/contact_us.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container-fluid margin-for-nav">
        <h1>Contact Us</h1>
    </div>
{% endblock %}
{% block content %}
    <div class="contact-us-container bg-off-white blue-border">
        <h3 class="text-center">Have any questions or new ideas? Let us know</h3>
        <div class="d-flex justify-content-center">
            <form method="POST" id="contact-form">
                {% csrf_token %}
                <fieldset class="rounded mb-2">
                    {{ contact_form | crispy }}
                </fieldset>
                <input id="contact-submit" type="submit" class="btn green-button gold-text" value="Send">
            </form>
        </div>
    </div>
{% endblock %}