<div class="collapse navbar-collapse" id="mobile-filter-nav">
    <ul class="navbar-nav w-auto">
        <li class="nav-item dropdown-header">
            <h6 class="text-white"> Sort By </h6> 
        </li>
        <li class="dropdown-header">
                <a class="dropdown-item" href="{% url 'products' %}?sort=price_asc">Price (low to high)</a>
                <a class="dropdown-item" href="{% url 'products' %}?sort=price_desc">Price (high to low)</a>
                <a class="dropdown-item" href="{% url 'products' %}?sort=name_asc">Name (A-Z)</a>
                <a class="dropdown-item" href="{% url 'products' %}?sort=name_desc">Name (Z-A)</a>
        </li>
        <li class="nav-item dropdown-header">
            <h6 class="text-white"> Categories </h6> 
        </li>
        <li class="dropdown-header">
            {% for category in categories %}
                <a class="dropdown-item {% if current_category == category.name %} active {% endif %}" href="{% url 'products' %}?category={{ category.name }}">
                    {{ category.friendly_name }}
                </a>
            {% endfor %}
        </li>
    </ul>
</div>