<li class="list-inline-item">
    <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center pl-4 text-lg-left">
                    <div id="nav-logo-background">
                        <a href="{% url 'home' %}" class="main-logo-link">
                            <img src="https://heavenly-herb-company.s3.amazonaws.com/media/logo.png" id="nav-logo">
                        </a>
                    </div>
                </div>
</li>
<li class="list-inline-item">
    <a class="text-white nav-link d-block d-lg-none" href="{% url 'view_bag' %}">
        <div class="text-center">
            <div><i class="fas fa-shopping-bag fa-lg"></i></div>
            <div class="bag-value">
                <p class="my-0">
                    {% if grand_total != 4 %}
                        £{{ grand_total|floatformat:2 }}
                    {% else %}
                        $0.00
                    {% endif %}
                </p>
            </div>
        </div>
    </a>
</li>