<div class="col-10 my-auto py-1 py-lg-0">
    <form method="GET" action="{% url 'products' %}">
        <div class="input-group w-100">
            <input id="plp-search" class="form-control border rounded-0" type="text" name="q" placeholder="Search our products">
            <div class="input-group-append">
                <button id="plp-search-button" class="form-control btn border rounded-0" type="submit">
                    <span class="icon">
                        <i class="fas fa-search"></i>
                    </span>
                </button>
            </div>
        </div>
    </form>
</div>