{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
    <link rel="stylesheet" href="{% static 'css/add_product.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container-fluid margin-for-nav">
        <h1>Product Management - Add Product</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid bg-off-white d-flex pd-container">
            <div class="col-12">
                <form method="POST" action="{% url 'add_product' %}" class="add_product_form mb-2 d-flex" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right control-group add-product-confirm">
                        <a class="btn" href="{% url 'products' %}">Cancel</a>
                        <button class="btn green-button gold-text" type="submit">Add Product</button>
                    </div>
                </form>
            </div> 
    </div>
{% endblock %}