{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}
{% block content %}

<!----------------------------- SUB-NAVBAR -------------------------->

    <div class="container-fluid bg-blue pd-sub-nav">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-2">
            </div>
            
            <div class="col-4 my-auto py-1 py-lg-0">
                <form method="GET" action="#">
                        <div class="input-group w-100">
                            <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our products">
                            <div class="input-group-append">
                                <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>

<!----------------------------- PRODUCT -------------------------->

    <div class="container-fluid bg-off-white d-flex pd-container">
            <div class="pd-image-container">
                <img class="pd-image" src="{{ product.image.url }}">
            </div>
            <div class="pd-right-container">
                <h3> {{ product.name }}</h3>
                <p class="pd-desc"><strong>Description:</strong> {{ product.description }} </p>
                <p class="pd-desc"><strong>Instructions for use:</strong> {{ product.directions }} </p>
                <p class="pd-desc"><strong>Ingredients:</strong> {{ product.ingredients }} </p>
            </div>
    </div>
{% endblock %}