{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}
{% block page_header %}
    <div class="container-fluid margin-for-nav">
        <h1>Products</h1>
    </div>
{% endblock %}
{% block content %}

<!----------------------------- SUB-NAVBAR -------------------------->

    <div class="container-fluid bg-blue sub-nav">
        <div class="row">
            <div class="col-2">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton-categories" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categories
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for category in categories %}
                                <a class="dropdown-item" href="{% url 'products' %}?category={{ category.name }}">
                                    {{ category.friendly_name }}
                                </a>
                            {% endfor %}
                        </div>
                    </button>
                </div>
            </div>
            <div class="col-2">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton-sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort By
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'products' %}?sort=price_asc">Price (low to high)</a>
                        <a class="dropdown-item" href="{% url 'products' %}?sort=price_desc">Price (high to low)</a>
                        <a class="dropdown-item" href="{% url 'products' %}?sort=name_asc">Name (A-Z)</a>
                        <a class="dropdown-item" href="{% url 'products' %}?sort=name_desc">Name (Z-A)</a>                    
                    </div>
                </div>
            </div>
            
            <div class="col-4 my-auto py-1 py-lg-0">
                <form method="GET" action="#">
                        <div class="input-group w-100">
                            <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our products">
                            <div class="input-group-append">
                                <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>

<!----------------------------- PRODUCTS -------------------------->

    <div class="container-fluid bg-off-white d-flex products-container">
            {% for product in products%}
                    <div class="product-card d-flex">
                        <div class="img-box">
                            <img class="product-img" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </div>
                        <div class="card-right-box">
                            <div class="text-box">
                                <h6>{{ product.name }}</h6>
                                <p>£{{ product.price }}</p>
                            </div>
                            <a href="#">
                                <div class="add-item-btn">
                                    <h5 class="add-item-text">Add to Basket</h5>
                                </div>
                            </a>
                        </div>
                    </div>
            {% endfor%}
    </div>
{% endblock %}