{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}
{% block page_header %}
    <div class="container-fluid margin-for-nav">
        <h1>Products</h1>
    </div>
{% endblock %}
{% block content %}

<!----------------------------- SUB-NAVBAR -------------------------->
    <div class="container-fluid bg-blue">
        <div class="row sub-nav mobile-hidden">
            <div class="col-xl-1 col-2">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton-sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort By
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'products' %}?sort=price_asc">Price (low to high)</a>
                        <a class="dropdown-item" href="{% url 'products' %}?sort=price_desc">Price (high to low)</a>
                        <a class="dropdown-item" href="{% url 'products' %}?sort=name_asc">Name (A-Z)</a>
                        <a class="dropdown-item" href="{% url 'products' %}?sort=name_desc">Name (Z-A)</a>                    
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-6">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton-categories" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if current_category %}
                            {{ current_category.friendly_name }}
                        {% else %}
                            Categories
                        {% endif %} 
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for category in categories %}
                            <a class="dropdown-item" href="{% url 'products' %}?category={{ category.name }}">
                                {{ category.friendly_name }}
                            </a>
                        {% endfor %}
                    </div>  
                </div>
            </div>
            <!--------------------------------------------------------------- SEARCHBAR ---------------------------------------------------------->
            <div class="col-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border rounded-0" type="text" name="q" placeholder="Search our products">
                        <div class="input-group-append">
                            <button class="form-control btn border rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--------------------------------------------------------------- MOBILE VIEW FILTERS ---------------------------------------------------------->
        <div class="row bg-blue mobile-navbar d-lg-none">   
            <nav class="subnav-mobile navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-filter-nav" aria-controls="mobile-filter-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-sort text-white"></i>
                </button>
                {% include 'includes/sub-nav-mobile.html' %}
                {% include 'includes/mobile-filter-menu.html' %}
            </nav>
        </div>
    </div>
<!----------------------------- PRODUCTS -------------------------->
    <div class="products-height-container bg-off-white container-fluid">
        <!-- This empty div stops the inner content extending to the bottom of the page since the parent container has a min height -->
        <div>
        <div class="d-flex products-container">
                {% for product in products%}
                        <div class="product-card d-flex">
                            <div class="card-width-left">
                                <a href="{% url 'product_detail' product.id %}">
                                    {% if product.image %}
                                    <div class="img-box">
                                        <img class="product-img" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </div>
                                    {% else %}
                                    <div class="img-box">
                                        <img class="product-img" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ product.name }}">
                                    </div>
                                    {% endif %}
                                </a>
                            </div>
                            <div class="card-width-right">
                                <div class="card-right-box">
                                    <div class="text-box">
                                        <a class="product-name" href="url 'product_detail' product.id %}">{{ product.name }}</a>
                                        <p class="product-price">£{{ product.price }}</p>
                                        <p class="product-desc">
                                            {{ product.description|truncatechars:180 }}
                                        </p>
                                    </div>
                                    {% if request.user.is_superuser %}
                                        <div class="edit-delete-product">
                                            <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="d-sm-flex d-none products-btn-box">
                                    <div class="w-50 px-2">
                                        <a href="{% url 'product_detail' product.id %}" class="btn green-button gold-text keep-shopping products-btn">
                                            <span>View More </span>
                                        </a>
                                    </div>
                                    <form class="form w-50 px-2" action="{% url 'add_to_bag' product.id %}" method="POST">
                                        {% csrf_token %}
                                        <input class="form-control qty_input" type="hidden" name="quantity" 
                                            value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                        <div class="add-item-btn products-btn">
                                            <input type="submit" class="btn add-item-input add-item-text" value="Add to Bag">
                                        </div>
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    </form>
                                </div>
                            </div>
                            <!----------- PRODUCT BUTTONS MOBILE ---------->
                            <div class="d-sm-none d-block w-100 pt-1">
                                <div class="d-flex">
                                    <div class="w-50 px-1">
                                        <a href="{% url 'product_detail' product.id %}" class="btn green-button gold-text keep-shopping products-btn">
                                            <span>View More </span>
                                        </a>
                                    </div>
                                    <form class="form w-50 pr-2" action="{% url 'add_to_bag' product.id %}" method="POST">
                                        {% csrf_token %}
                                        <input class="form-control qty_input" type="hidden" name="quantity" 
                                            value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                        <div class="add-item-btn products-btn">
                                            <input type="submit" class="btn add-item-input add-item-text" value="Add to Bag">
                                        </div>
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    </form>
                                </div>
                            </div>
                        </div>
                {% endfor%}
            <!----------------------------- PAGINATION -------------------------->
            <div class="w-100 pagination">
                <span class="step-links w-100 d-flex">
                    <div class="previous-link text-right">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                    </div>
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    <div class="next-link">
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                    </div>
                </span>
            </div>
        </div>
        </div>
    </div>
{% endblock %}