<div class="toast custom-toast" data-autohide="false">
    <div class="arrow-up"></div>
    <div class="w-100"></div>
    <div class="toast-header bg-white text-dark">
        <strong class="mr-auto">Success!</strong>
        <button type="button" class="ml-2 mb-1 close text-dark" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body bg-white">
        <div class="row">
            <div class="col-12 font-s-14">
                {{ message }}
            </div>
        </div>
        {% if product_count != 0 and not on_profile_page %}
            <p class="logo-font bg-white text-black py-1">Your Bag ({{ product_count }})</p>
            <div class="bag-notification-wrapper">
                {% for bag_item in bag_items %}
                    <div class="row">
                        {% if product.image.url %}
                        <div class="col-3 my-1"> 
                            <img class="w-100" src="{{ bag_item.product.image.url }}" alt="{{ bag_item.product.name }}">
                        </div>
                        {% else %}
                        <div class="col-3 my-1"> 
                            <img class="w-100" src="https://heavenly-herb-company.s3.amazonaws.com/media/noimage.jpg" alt="{{ bag_item.product.name }}">
                        </div>
                        {% endif %}
                        <div class="col-9">
                            <p class="my-0 font-s-14"><strong>{{ bag_item.product.name }}</strong></p>
                            <p class="my-0 small text-muted">Qty: {{ bag_item.quantity }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                    <strong><p class="mt-3 mb-1 text-black">
                        Total: 
                        <span class="float-right">£{{ total|floatformat:2 }}</span>
                    </p></strong>
                    <a href="{% url 'view_bag' %}" class="btn toast-bag-btn btn-block green-button gold-text">
                        <span class="text-uppercase">View Bag</span>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
</div>